In [2]:
import numpy as np
import pandas as pd

In [3]:
Credit_Card_Dataset = pd.read_csv(r"D:\000\Code\Py\ML\Data Sheets\Credit_Data.csv")

In [5]:
Credit_Card_Dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
#Distribution Two Class
Credit_Card_Dataset['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [ ]:
#Separating THe Legit ANd Fraud Transactions
Legit = Credit_Card_Dataset[Credit_Card_Dataset.Class == 0]
Fraud = Credit_Card_Dataset[Credit_Card_Dataset.Class == 1]

In [9]:
print(Legit.shape)
print(Fraud.shape)

(284315, 31)
(492, 31)

Building a sample Dataset containing similar distribution of Legit and Fraud

Number of Fraud Transactions --> 492

In [10]:
#Under Sampling
Legit_Sample = Legit.sample(n=492)
print (Legit_Sample.shape)

(492, 31)

In [14]:
#Concatenate THe 2 DataFrames
New_Dataset = pd.concat([Legit_Sample, Fraud], axis= 0) #axis 0 means "Row Wise"
New_Dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
109222,71278.0,0.787855,-1.846290,1.059941,-0.279964,-1.683922,1.024810,-1.266389,0.408752,0.247097,...,0.293066,0.580516,-0.292194,-0.230467,0.292851,-0.111663,0.039934,0.051902,250.00,0
223385,143360.0,2.168799,-0.794073,-2.482363,-0.564950,0.249929,-0.744959,0.177656,-0.346727,-0.556153,...,-0.304239,-0.473640,-0.035895,0.029963,0.273042,0.838624,-0.126539,-0.075061,68.60,0
102557,68257.0,-2.765117,0.011936,0.473388,1.882026,-0.294158,-0.557229,-0.579781,0.899323,0.308488,...,-0.169280,0.697182,1.143239,0.420498,-0.229593,-0.209595,0.544462,-0.093408,24.00,0
40723,40371.0,-1.056373,0.439059,1.366295,-0.837615,-1.172601,-0.597314,0.143714,0.508554,-0.209268,...,0.025837,-0.283493,0.066343,0.531940,-0.421249,0.648801,-0.255467,-0.157894,108.00,0
249365,154375.0,1.973172,-0.162705,-1.799356,0.338564,0.367055,-0.900579,0.498270,-0.303893,0.371605,...,0.051615,0.257310,-0.055424,-0.310688,0.353346,-0.224486,-0.049483,-0.072744,47.99,0

In [ ]:
New_Dataset['Class'].value_counts() #Even Distribution

Class
0    492
1    492
Name: count, dtype: int64