In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

**#Data Collection & Pre=Processing**

In [3]:

#Loading The Data from CSV file to a pandas Dataframe 
Diabetes_Data = pd.read_csv(r"D:\000\Code\Py\ML\Data Sheets\Diabetes.csv")

In [4]:
# First 8 rows of THe Dataframe
Diabetes_Data.head(8)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,6,148,72,35,0,33.6,0.627,50,1,NaN,NaN,NaN,NaN,NaN
1,1,85,66,29,0,26.6,0.351,31,0,NaN,NaN,NaN,NaN,NaN
2,8,183,64,0,0,23.3,0.672,32,1,NaN,NaN,NaN,NaN,NaN
3,1,89,66,23,94,28.1,0.167,21,0,NaN,NaN,NaN,NaN,NaN
4,0,137,40,35,168,43.1,2.288,33,1,NaN,NaN,NaN,NaN,NaN
5,5,116,74,0,0,25.6,0.201,30,0,NaN,NaN,NaN,NaN,NaN
6,3,78,50,32,88,31.0,0.248,26,1,NaN,NaN,NaN,NaN,NaN
7,10,115,0,0,0,35.3,0.134,29,0,NaN,NaN,NaN,NaN,NaN

In [5]:
#Number Of Rows & Columns
Diabetes_Data.shape

(768, 14)

In [6]:
#Analyse Data
Diabetes_Data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,0.0,0.0,0.0,0.0,0.0
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958,NaN,NaN,NaN,NaN,NaN
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951,NaN,NaN,NaN,NaN,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000,NaN,NaN,NaN,NaN,NaN
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000,NaN,NaN,NaN,NaN,NaN
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000,NaN,NaN,NaN,NaN,NaN
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000,NaN,NaN,NaN,NaN,NaN

In [7]:
#Separating Features & Target
X = Diabetes_Data.drop(columns='Outcome',axis=1)
Y = Diabetes_Data['Outcome']

In [14]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,6,148,72,35,0,33.6,0.627,50,NaN,NaN,NaN,NaN,NaN
1,1,85,66,29,0,26.6,0.351,31,NaN,NaN,NaN,NaN,NaN
2,8,183,64,0,0,23.3,0.672,32,NaN,NaN,NaN,NaN,NaN
3,1,89,66,23,94,28.1,0.167,21,NaN,NaN,NaN,NaN,NaN
4,0,137,40,35,168,43.1,2.288,33,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,NaN,NaN,NaN,NaN,NaN
764,2,122,70,27,0,36.8,0.340,27,NaN,NaN,NaN,NaN,NaN
765,5,121,72,23,112,26.2,0.245,30,NaN,NaN,NaN,NaN,NaN
766,1,126,60,0,0,30.1,0.349,47,NaN,NaN,NaN,NaN,NaN
767,1,93,70,31,0,30.4,0.315,23,NaN,NaN,NaN,NaN,NaN

In [9]:
#Data Standardization
Scaler = StandardScaler() #Preprocessing numerical data in ML

In [10]:
Standardized_Data = Scaler.fit_transform(X)

C:\Users\ASUS\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\extmath.py:1101: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\ASUS\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\extmath.py:1106: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
C:\Users\ASUS\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\extmath.py:1126: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

In [11]:
print(Standardized_Data)

[[ 0.63994726  0.84832379  0.14964075 ...         nan         nan
          nan]
 [-0.84488505 -1.12339636 -0.16054575 ...         nan         nan
          nan]
 [ 1.23388019  1.94372388 -0.26394125 ...         nan         nan
          nan]
 ...
 [ 0.3429808   0.00330087  0.14964075 ...         nan         nan
          nan]
 [-0.84488505  0.1597866  -0.47073225 ...         nan         nan
          nan]
 [-0.84488505 -0.8730192   0.04624525 ...         nan         nan
          nan]]

In [12]:
#Slpiting Dataset into Train & Tesing Data
X_train , X_test, Y_test , Y_train = train_test_split(X,Y, test_size=0.2, random_state=2)

In [13]:
print(X.shape, X_train.shape, X_test.shape)

(768, 13) (614, 13) (154, 13)