In [ ]:
import numpy as np
import pandas as pd
import sklearn.datasets
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [12]:
#Load Data
Diabetes_Dataset = pd.read_csv(r"D:\000\Code\Py\ML\Data Sheets\Diabetes.csv")
Diabetes_Dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,6,148,72,35,0,33.6,0.627,50,1,NaN,NaN,NaN,NaN,NaN
1,1,85,66,29,0,26.6,0.351,31,0,NaN,NaN,NaN,NaN,NaN
2,8,183,64,0,0,23.3,0.672,32,1,NaN,NaN,NaN,NaN,NaN
3,1,89,66,23,94,28.1,0.167,21,0,NaN,NaN,NaN,NaN,NaN
4,0,137,40,35,168,43.1,2.288,33,1,NaN,NaN,NaN,NaN,NaN

In [13]:
Diabetes_Dataset.shape

(768, 14)

In [14]:
Diabetes_Dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,0.0,0.0,0.0,0.0,0.0
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958,NaN,NaN,NaN,NaN,NaN
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951,NaN,NaN,NaN,NaN,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000,NaN,NaN,NaN,NaN,NaN
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000,NaN,NaN,NaN,NaN,NaN
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000,NaN,NaN,NaN,NaN,NaN
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000,NaN,NaN,NaN,NaN,NaN

In [15]:
Diabetes_Dataset['Outcome'].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [16]:
#Mean Vlaue
Diabetes_Dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
Outcome,,,,,,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000,NaN,NaN,NaN,NaN,NaN
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164,NaN,NaN,NaN,NaN,NaN

In [17]:
#Separating Data
X = Diabetes_Dataset.drop(columns ='Outcome', axis=1) #axis 1 means "Column Wise"
Y = Diabetes_Dataset['Outcome']

In [18]:
#Spliting The Data into Training Data & Testing Data
X_train , X_test, Y_trian , Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)
# random_state=2 ensures reproducible train-test split

In [19]:
print(X.shape, X_train.shape, X_test.shape)

(768, 13) (614, 13) (154, 13)