In [6]:
#Indentation
#Rule 1: Minimum one space is needed to represent Indentation
#Rule 2: 1st line can't have Space or Indentation
#Rule 3: Indentation is mandatory to define a block of code
#Rule 4: Indentation space must be uniform
name = 'same'
if name == 'same': # Try Use different word it will print else part
    print ('Hello Batman') #Indentation 
else:
    print ('SuperMan') #Indentation
print ('Better') #Not part of if else
#Rule 5: RPEL stands for:   Read --- Evaluate --- Print --- Loop

Hello Batman
Better

In [7]:
#Arithmetic Operators 
#Operator: a special symbol that performs an operation on operands
#Operand: a value/variable to which the operation is applied
# +  ---	Addition		
# -  ---	Subtraction	
# *  ---	Multiplication	
# /  ---	Division	
# %  ---	Modulus		
# ** ---	Exponentiation	
# // ---	Floor division Or Integer Division
#Precedence of Arithmetic Operators: (),{},[] >> ** >> +a, -a >> %, // , / , * >> +, -
10 + 8 ** 2/4 # ** ---	Exponentiation Do 1st Then /  ---	Division After That +  ---	Addition

26.0

In [90]:
#Comparison Operators
# ==	Equal	
# !=	Not equal	
# >	Greater than	
# <	Less than	
# >=	Greater than or equal to	
# <=	Less than or equal to
X=5.2
Y= 6.7
X != Y

True

In [ ]:
#Bitwise Operators 
# Bitwise AND --- &
# Bitwise OR --- |
# Bitwise NOT --- ~
# Bitwise XOR --- ^
X= 10
Y= 5
# &--Return 1 if both bits are 1; else 0
print(bin(X&Y))
# |--Return 1 if any bits are 1; else 0
print(bin(X|Y))
# ~ -- Return one's complement of a number
print(bin(~X)) # Their are extra bit in 1st to represent sign
print(~X) # Should be 5 but will change to -11 because of the extra bit 
#&--Return 1 if one bits are 1; else 0
print(bin(X^Y))

0
0b1111
-0b1011
-11
0b1111

In [ ]:
#Bitwise  Shift Operator
#Shifts the bits of a binary number towards the left or right
X= 12 # 01100
#Bitwise Right Shift Operator
# As a consequence, it devids the number by 2^n
print(bin(X >> 2))
print(X>>2)
#Bitwise Left Shift Operator
# As a consequence, it multiplies the number by 2^n
print(bin(X << 2))
print(X<<2)

0b11
3
0b110000
48

In [93]:
##Assignment Operators
# Rule: Assignment Operators can't directly print inside a print() statement.
# =  ---	Assign
# +=  ---	Addition and Assign		
# -=  ---	Subtraction	and Assign
# *= ---	Multiplication and Assign	
# /=  ---	Division and Assign	
# %=  ---	Modulus and Assign		
# **= ---	Exponentiation and Assign	
# //= ---	Floor division Or Integer Division and Assign
# Bitwise AND and Assign  --- &=
# Bitwise OR and Assign --- |=
# Bitwise NOT and Assign --- ~=
# Bitwise XOR and Assign --- ^=
# Bitwise right shift and Assign --- >>=
# Bitwise left shift and Assign --- <<=
X= 10
Y= 20
X += Y
print(X)
X ^= Y
print(X)

30
10

In [8]:
#Basic if-elase
name = 'same'
if name == 'same': #: means then
    print ("What's up ")   # Boolean Type If elase
else:
    print ('Batman') 
print ('Superman') # Not part of if elase

What's up
Superman

In [9]:
#Logical Operators
# Logical AND = and
# Logical OR = or
# Logical NOT = not -- Unary operators
X=30
Y=20
Z=10
if X>Y and X>Z: # : means then
    print("X is Batman")
else: 
    print('X is Superman')

if X>Y or Y>X: # : means then
    print("X is Batman")
else: 
    print('X is Superman')

if not(X>Y): # : means then
    print("X is Batman")
else: 
    print('X is Superman')

X is Batman
X is Batman
X is Superman

In [96]:
#Membership Operators
str ='Batman'
substr='man'
#in --- Returns True if the specified value is the member of the sequence 
x = substr in str
print(x)
#not in --- Returns True if the specified value is not the member of the sequence
x = substr not in str
print(x)

True
False

In [97]:
#Identity Operators
#Each object in Python has a memory location identified using a unique ID.
#The ID of an object can be checked using the id() function.
#Syntax: id(object_name)
A='batman'
B='batman'
print(id(A),id(B))
# is --- Return true if both id is same
print(A is B)
# is not --- Return true if both id is  not same
print(A is not B)
#Equality operator (==) is used to compare the values.
X= [1,2,3]
Y= [1,2,3]
print(id(X),id(Y))
print(X is Y)

1972415874464 1972415874464
True
False
1972427922048 1972427575552
False

In [98]:
#Conversion
X=0b11010 #Binary To Decimal
Y=0o72 #Octa to Decimal
Z=0xFa #Hexa to Decimal
print(X,Y,Z)

26 58 250

In [99]:
1.73e-2 #Floating Type Data

0.0173

In [100]:
'Hello' #Str Data

'Hello'

In [10]:
#"Strings"
#Alternatively, single or double quotes within a string can be escaped using backslash character.
x ="Hello -- \"Im Batman from Paraller Universe\". " # "\ 
y ='What\'s up' # \'
print (x+y)

Hello -- "Im Batman from Paraller Universe". What's up

In [102]:
#Multi line String'
x ="""Hi how are you?
I'm good what about you?"""
print (x)

Hi how are you?
I'm good what about you?

In [103]:
#Accessing  Characters
X="Rog"
X[-1] #Negative Index

'g'

In [104]:
#Sub Strings
x =  'Batman'
print (x [-5:-3])
print (x [0:3]) #n+1

at
Bat

In [105]:
#String Operators
x = 'Bat'
y = 'man'
print(x+y)

Batman

In [106]:
#String Operators
x = 2
y = 'phones'
print(x*y) #Multiple Copies

phonesphones

In [ ]:
#String Operators
A1='Hello' == 'hello' 
A2='Hello' != 'hello' # ! = 
A3='Hello' >= 'hello' 
A4='Hello' <= 'hello' #Comparisons are case-sensitive
print(A1,A2,A3,A4)

False True False True

In [108]:
#String Operators
A1= 'Bat' in 'Batman' #in 
A2= 'Bat' not in 'Batman' #not in 
print (A1, A2)

True False

In [109]:
#String Operators
print("Japan is \"hot") #\Escpae (for not allowed character) lie ' "
print('Backslash: \\A')
print('New line: \nBatman')
print('Carriage Return \rB') #C change to B
print('Tab:\tBatman') # Spaces
print('Backspace: \bA') #Backspace
print('Octal value: \112')
print('Hexadecimal value: \x48')

Japan is "hot
Backslash: \A
New line:
Batman
Barriage Return
Tab:	Batman
Backspace:A
Octal value: J
Hexadecimal value: H

In [110]:
#String Formatting
name = "Alice"
age = 30
height = 1.65
print("Name: %s, Age: %d, Height: %.2f" % (name, age, height)) # %.2f is Use to take floating-point number to two decimal places.
# %d: Used to format an integer.
# %c: Used to format a character.
# %f: Used to format a floating-point number.
# %s: Used to format a string.

Name: Alice, Age: 30, Height: 1.65

In [111]:
#String Formatting
A= "Gotham"
B= "Batman"
"I'm {1} from {0} City".format(A,B)
#The placeholders are replaced by curly braces in this technique.

"I'm Batman from Gotham City"

In [112]:
#String Formatting
A= "Gotham"
B= "Batman"
f"I'm {B.upper()} from {A.upper()} City" 
#Call methods () is important

"I'm BATMAN from GOTHAM City"

In [113]:
#String Formatting
"I'm {0:.2f}% made of water".format(80.678507859)

"I'm 80.68% made of water"

In [114]:
#String Slicing
A= 'S-u-p-e-r-m-a-n'
A[0:15:2] #Step value - specifies the number of elements to skip when slicing the string.

'Superman'

In [115]:
#String Slicing
X= 'ABC'*3
X[0::3] #Keeping the first parameter and eliminating the second parameter or vice versa is also allowed.

'AAA'

In [116]:
# f-Strings
X=30
Y=40
f"X+Y={X+Y}" # {Evaluated as  Vlaue} 
# {{}} Means Get {X+Y}
#{{{X+Y}}} Meens Get 70

'X+Y=70'

In [117]:
#String Methods -- Strip
print('###Batman###'.strip('#'))
#strip leading trailing  remover also add '' Also note strip will see only 1st and last chracter 
print('##Batman##'.lstrip('#'))
#lstrip leading  remover also add '' Also note strip will see only 1st chracter 
print('##Batman##'.rstrip('#'))
#rstrip trailing  remover also add '' Also note strip will see only last chracter

Batman
Batman##
##Batman

In [118]:
#String Methods -- Split
print("Im $Batmann$ $".split("$", maxsplit=2))
print("Im $Batmann$ $".rsplit("$", maxsplit=2))

['Im ', 'Batmann', ' $']
['Im $Batmann', ' ', '']

In [119]:
#String Methods -- Join
#Used to join the elements of an iterable.
#Syntax: separator.join(iterable)
A1 = ('B', 'A', 'T', 'M', 'A', 'N')
print ('.'.join(A1) )
#Only keys are combined not values
A2 = {'B':'32', 'M' : 'A'}
print (' & '.join(A2) )

B.A.T.M.A.N
B & M

In [120]:
#String Methods -- Replace
#Used to replace a specified string with another string.
#string.replace(oldString, newString, count)
A1 = "I'm Batman & Batman"
A1.replace('Batman', 'Superman', 1) # 1 is for how many tine i want to replace the word

"I'm Superman & Batman"

In [121]:
#String Methods -- Upper
"batman".upper()

'BATMAN'

In [122]:
#String Methods -- Lower
"BATMAN".lower()

'batman'

In [123]:
#String Methods -- Capitalize
"batman".capitalize() #Only 1st Character

'Batman'

In [124]:
#String Methods -- Is---
print('Batman'.isupper())
print('batman'.islower())
print('batman'.isalpha()) # True if all character is alphabet (Even having space will return false)
print('0.007'.isnumeric()) # True if all character is number (Even having decimal will return false)
print('batman69'.isalnum()) #True if all character is number and alphabet

False
True
True
False
True

In [125]:
#String Methods -- count
#Finds the number of occurrences of a substring in a given string.
#If the substring is not found, then it returns 0.
#string.count(sub, start, end)
"I love Wonder-Women. Wonder-Women makes me horny".count('Wonder',0,-1)

2

In [126]:
#String Methods -- find
#Returns the index of the first occurrence of the substring.
#If the substring is not found, then it returns -1.
#string.find(sub, start, end)
print("I love Wonder-Women. Wonder-Women makes me horny".find('W',0,-1))
#String Methods -- rfind
#Returns the index of the last occurrence of the substring.
#If the substring is not found, then it returns -1.
#string.rfind(sub, start, end)
print("I love Wonder-Women. Wonder-Women makes me horny".rfind('W',0,-1))

7
28

In [127]:
#String Methods -- index
#Returns the index of the frist occurrence of the substring.
#f the substring is not found, it raises an exception (ValueError).
#string.index(sub, start, end)
print("I love Wonder-Women. Wonder-Women makes me horny".index('W',0,-1))
#String Methods -- rindex
#Returns the index of the last occurrence of the substring.
#f the substring is not found, it raises an exception (ValueError).
#string.index(sub, start, end)
print("I love Wonder-Women. Wonder-Women makes me horny".rindex('W',0,-1))

7
28

In [128]:
#Implicit Type Conversion 
#Ability of Python to convert an object from one data type to another without any intervention from the programmer.
#Rule of conversion: Lower data type is converted to the higher data type. Â  
Example=(10.78+ 40)
print(f"X = {Example}")
#Integer < Float < Complex
#In C, it is possible that the value of a higher data type can be converted to a lower data type.
#In Python, implicit conversion of a higher to a lower data type is not possible.

X = 50.78

In [143]:
#Explicit Type Conversion
x ='110'
print(type(x))
#Refers to the conversion of object of one type to integer type via programmer's intervention.
#Syntax: int(value, base) 
x =int(x,16) #16 is base (Binary, Octa, Hexa, Decimal ..)
print(x)
print(type(x))
#Refers to the conversion of object of one type to float type via programmer's intervention.
#Syntax: float(value) 
x =float(x) 
print(x)
print(type(x))

<class 'str'>
272
<class 'int'>
272.0
<class 'float'>

In [137]:
#Multiline Statement
#Statements can be extended using continuation character , parentheses (), square brackets [], or curly brackets {}.
x =10 + 20 + \
40 + 50
print(x)
#Comments are : #, """" """" , ''' '''

120

In [138]:
#Quiz
A=bin(10&-5)
B=32>>2
print(A,B)

0b1010 8

In [139]:
#Lists
#A collection of similar or different types of data items.
#A list is created by placing items inside [] separated by commas. 
#Rule: Giving Variable is must

#Single-Dimentional List 
X= [1,3,5] #A single-dimensional list is a list where elements are listed one after the other.
print(X[1],X[-1])  #Accessing Elements of a List

#Multi-Dimentional List
Y= [[1,2],'Batman',[3.2,4.2]] #Multi-dimensional list is a list containing another list.
print(Y[0][1],Y[2][1])

3 5
2 4.2

In [148]:
#Adding Elements to a List
X= [1,3,5]
Y= [1,3,5]
Z= [1,3,5]
#Append ---A built-in method used to add an item at the end of a list.
#Syntax: list.append(value)
X.append(7)
X.append(['A','C']) # A list as an item can be added
print(X)

#Insert ---A built-in method used to add an item at the specific postion.
#Syntax: list.insert(value)
Y.insert(0,7)
print(Y)

#Extend ---A built-in method used to add all items of one list in another list.
#Syntax: list1.extend(list2)
A= [7,9]
Z.extend(A)
print(Z)

[1, 3, 5, 7, ['A', 'C']]
[7, 1, 3, 5]
[1, 3, 5, 7, 9]

In [149]:
#Input()
#Note: All input will treated as string in Python
X=input('Gotham_ID: ')
print(X,type(X))

#Typecasting
#Covert user input from string to What I need
X=int(input('Cat Women Number: '))
print(X,type(X))

7 <class 'str'>
8 <class 'int'>

In [ ]:
#Basic for loop
for i in range (1, 3): # : means then
    print("Wonder Women")

Cat Women Smash
Cat Women Smash

In [3]:
# Basic while loop
i = 0
while i <= 3: 
  print([i])
  i += 1
#Another Example
thislist = ["Batman", "Super-Girl", "Flash"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

[0]
[1]
[2]
[3]
Batman
Super-Girl
Flash

In [ ]:
#Input a List using Loops
X=int(input('Numbers of Batman Cars: '))
Numbers=[] #Initialize an empty list to store the numbers
for i in range(X): #Loop 'X' times to get inputs from the user
    Y= int(input('Speed of Cars: '))
    Numbers.append(Y*2) #Append the input number to the Numbers list []
print('Batman Cars Power:', Numbers,'Torque')

Cat Women Kick Power: [62, 4, 4] Torque

In [ ]:
#Split()
#Splits a string into a list of substrings.
#Syntax: string.split(separator, maxsplit)
A = 'Superman Batman'
print(A.split())

In [ ]:
#Input a List using split() Method
#Accepting a list of numbers is easier with split() method.
X=int(input('Cat Women Numbers: '))
Numbers=input('Enter the Numbers: ').split() #Initialize an empty list to store the numbers
for s in range(0,X): #Loop 'X' times to get inputs from the user
      Numbers[s]=int(Numbers[s]) ## Convert each element to an integer
print(Numbers)

In [ ]:
#Changing List Items
Smasher = ["Batman", "Superman", "Wonder-Women", "Aquaman"]
Smasher[2:3]=["Flash","Joker"] # Changing
print(Smasher)
#Inserting new item in List
#Syntax: list.insert(index, item)
Smasher_2 = ["Batman", "Superman", "Wonder-Women", "Aquaman"]
Smasher_2.insert(-1,"Flash") #To insert "Flash" in last position use list.append
print(Smasher_2)

In [10]:
#Removing List Items
Smasher = ["Batman", "Superman", "Wonder-Women", "Aquaman"]
Smasher_2 = ["Batman", "Superman", "Wonder-Women", "Aquaman"]
Smasher.remove("Wonder-Women")
Smasher.pop()
print(Smasher)
Smasher_2.clear()
print(Smasher_2)
del Smasher #Delete entire List

['Batman', 'Superman']
[]

In [44]:
Smasher = ["Batman", "Superman", "Wonder-Women", "Aquaman"]
'SEA ' + Smasher.pop()

'SEA Aquaman'

In [43]:
#List Comprehension
Smashers = ["Batman", "Superman", "Wonder-Women", "Aquaman"]
Smashers_2 =[]
for Smasher in Smashers: #Storing item in Smasher variable 
    if "a" in Smasher:
        Smashers_2.append(Smasher)
print(Smashers_2)
#Another Way
#Syntax: list = [expression for item in iterable if condition == True]
Smashers_3 =[SmasherUltras for SmasherUltras  in Smashers if "u" in SmasherUltras]
print(Smashers_3)

['Batman', 'Superman', 'Aquaman']
['Superman', 'Aquaman']

In [ ]:
#Dictionaries
#Collection of data items that are stored in key-value pairs
#Rule: Cannot have two items with the same key.
#Syntax: dict_name = {key1: value1, key2: value2, ...}
Car = {'Brand': 'BMW' ,'Model': 'M3-GTR'}
#Chaning Values in key
Car['Model'] = 'M4 Compitation'
print(Car)
#Length of a Dictionary
len(Car)
#Alter Way
Car = dict(Brand= 'BMW' ,Model= 'M3-GTR') #Ez way

In [ ]:
#Accessing Dictionary Items
Car = dict(Brand= 'BMW' ,Model= 'M3-GTR')
Car['Brand']
#Accessing keys
#Syntax: dic_name.keys()
Car.keys() 
print(Car.keys())
#Accessing values
#Syntax: dic_name.values()
print(Car.values())
#Accessing itemns
#Syntax: dic_name.items()
print(Car.items())
#Adding new items
Car['Country']= 'Germany' 
print(Car)
#Removing items
#Syntax: dict_name.pop(key)
Car.pop('Model')
print(Car)
#Deleting items
#Syntax: del dict_name[key]
del Car['Brand']
print(Car)
#Celar dictionary
#Syntax: dict_name.clear
Car.clear()
print(Car)

In [ ]:
#Copying a Dictionary
#Syntax: dict_name_copy = dict_name.copy()
Car = dict(Brand= 'BMW' ,Model= 'M3-GTR')
Car_New = Car.copy()
Car_New['Model'] = 'M4 Compitation'
print(Car,Car_New)

In [ ]:
#Tuples
#Note: Can't add any item
Cars = ('BMW' ,'Audi', 'Pagani')
print(Cars[0])
print(Cars[0:2]) #Slicing
Cars_2 = tuple(('BMW' ,'Audi', 'Pagani'))
print(Cars_2)

In [ ]:
#Adding item to Tuple
Cars = ('BMW' ,'Audi', 'Mercedes')
Cars_2 = list(Cars)
Cars_2.append("Toyota")
Cars = tuple(Cars_2)
print(Cars)
#Updating a Tuple 
Cars_3 = list(Cars)
Cars_3[0] = 'Pagani'
Cars = tuple(Cars_3)
print(Cars)
#Removing item to Tuple
Cars_3.remove('Pagani')
Cars = tuple(Cars_3)
print(Cars)
#Unpacking Tuple
Cars0, Cars1, Cars2 = Cars
print(Cars1)

In [ ]:
##The if Statement
#The else statement can be used with an if statement to execute a block of code when the if condition is not satisfied.
Wonder_Women_Age = 45
if Wonder_Women_Age <=18: #condition
    print('Pedo Here') #statement inside if   
else:
     print('Batman Here') # statement inside else

In [ ]:
#Short Hand If-else
#Rule: Used only in One statment needed to executed
Wonder_Women_Age = 5
print('Pedo Here') if Wonder_Women_Age <=18 else print('Batman Here')

In [146]:
#The if-elif-else Statement
#The if-else statement is used when decision has to be made among two alternatives.
#The if-elif-else statement is used when decision has to be made between more than two alternatives.
# Character description using if-elif-else statement
character = input("Enter the name of the superhero (Batman, Wonder Woman, Superman): ").strip().lower()
if character == "batman":
    print("Batman is the Dark Knight of Gotham, known for his intellect and gadgets!")
elif character == "wonder woman":
    print("Wonder Woman Oh Yess Baby")
elif character == "superman":
    print("Superman is the Man of Steel, known for his super strength, flight, and laser vision!")
else:
    print("Unknown superhero. Go Fuck Yourself.")

Unknown superhero. Go Fuck Yourself.

In [1]:
# Logical AND, OR, NOT with conditionals

age = int(input("Enter your age: "))
city = input("Enter your city (Gotham, Metropolis, Themyscira): ").strip().lower()

# Using AND
if age >= 18 and city == "gotham":
    print("You can team up with Batman!")
elif age >= 18 and city == "metropolis":
    print("You can join Superman in protecting the city!")
elif age >= 18 and city == "themyscira":
    print("You can train with Wonder Woman!")
else:
    print("Go Away Kiddo")

# Using OR
if city == "gotham" or city == "metropolis" or city == "themyscira":
    print("You're in a city of superheroes!")
else:
    print("Your city seems Ordinary Kiddo.")

# Using NOT
if not (age >= 18):
    print("You're not an adult yet!")
else:
    print("You're an adult and ready for smash!")

Go Away Kiddo
You're in a city of superheroes!
You're not an adult yet!

In [6]:
#Function Factional Example 
number = int(input("Enter a number to find its factorial: "))
factorial = 1

if number == 0:
    print("The Factorial of 0 is 1")
else:
    for i in range(1, number + 1):
        factorial = factorial * i
    print("The factorial of", number, "is", factorial)

The factorial of 4 is 24